@model BeanSceneProject.Areas.Staff.Models.Sitting.Delete

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Delete</h4>
<hr />
<div class="row  justify-content-center">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Open)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Open)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Close)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Close)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsClosed)
        </dt>
        <dd class="col-sm-10">
            @if (Model.IsClosed) { Html.DisplayText("Closed"); }
            else { Html.DisplayText("Open"); }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Heads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Heads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservations)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookedTables)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SittingType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SittingType)
        </dd>
    </dl>
    <div class="col-md-4">
        <form asp-action="Delete">
            <div class="form-group justify-content-center p-1">
                <input type="submit" value="Delete" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}