@model IEnumerable<BeanSceneProject.Data.Sitting>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <h2 class="px-2">Manager Sittings List</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Open Time
                    </th>
                    <th>
                        Close Time
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Capacity
                    </th>
                    <th>
                        People booked
                    </th>
                    <th>
                        Sitting Type
                    </th>
                    <th>
                        Restaurant
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @{
                            string date = item.Open.ToShortDateString();
                        }
                        @Html.DisplayFor(modelItem => date)
                    </td>
                    <td>
                        @{
                            string open = item.Open.ToShortTimeString();
                        }
                        @Html.DisplayFor(modelItem => open)
                    </td>
                    <td>
                        @{
                            string close = item.Close.ToShortTimeString();
                        }
                        @Html.DisplayFor(modelItem => close)
                    </td>
                    <td>
                        <div class="btn-group p-1" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio"
                                   class="btn-check"
                                   name=@("sittingRadio" + item.Id)
                                   id=@("sitting" + item.Id + "radioOpen")
                                   autocomplete="off"
                                   checked="@(!item.IsClosed)"
                                   value="false"
                                   data-id="@item.Id"
                                   onchange="UpdateIsClosed(this.value, this.getAttribute('data-id'))">
                            <label class="btn btn-outline-success" for=@("sitting" + item.Id + "radioOpen")>Open</label>
                            <input type="radio"
                                   class="btn-check"
                                   name=@("sittingRadio" + item.Id)
                                   id=@("sitting" + item.Id + "radioClose")
                                   autocomplete="off"
                                   checked="@item.IsClosed"
                                   value="true"
                                   data-id="@item.Id"
                                   onchange="UpdateIsClosed(this.value, this.getAttribute('data-id'))">
                            <label class="btn btn-outline-danger" for=@("sitting" + item.Id + "radioClose")>Close</label>
                        </div>
                        <span id="@("sittingRadio" + item.Id)" class="text-danger"></span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Capacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Heads)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SittingType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Restaurant.Name)
                    </td>
                    <td>
                        <a asp-area="Staff" asp-controller="StaffReservation" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                            Manage Reservations
                        </a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>    
                    </td>
                    <td>
                        <a asp-action="Report" asp-route-id="@item.Id" class="btn btn-primary">Sitting Report</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/sittingIndex.js"></script>
}

