@model IEnumerable<BeanSceneProject.Data.Sitting>

@{
    ViewData["Title"] = "Index";
}

<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <h2 class="px-2">Sittings List</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Open Time
                    </th>
                    <th>
                        Close Time
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Capacity
                    </th>
                    <th>
                        People booked
                    </th>
                    <th>
                        Sitting Type
                    </th>
                    <th>
                        Restaurant
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Open)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Close)
                        </td>
                        <td>
                            <div class="btn-group p-1" role="group" aria-label="Basic radio toggle button group">
                                <input 
                                       type="radio" 
                                       class="btn-check" 
                                       name=@("sittingRadio" + item.Id) 
                                       id=@("sitting" + item.Id + "radioOpen") 
                                       autocomplete="off" 
                                       checked="@(!item.IsClosed)" 
                                       value="false" 
                                       data-id="@item.Id" 
                                       onchange="UpdateIsClosed(this.value ,this.getAttribute('data-id'))">
                                <label class="btn btn-outline-success" for=@("sitting" + item.Id + "radioOpen")>Open</label>
                                <input 
                                       type="radio" 
                                       class="btn-check" 
                                       name=@("sittingRadio" + item.Id) 
                                       id=@("sitting" + item.Id + "radioClose") 
                                       autocomplete="off" 
                                       checked="@item.IsClosed" 
                                       value="true" 
                                       data-id="@item.Id" 
                                       onchange="UpdateIsClosed(this.value ,this.getAttribute('data-id'))">
                                <label class="btn btn-outline-danger" for=@("sitting" + item.Id + "radioClose")>Close</label>
                            </div>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Heads)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SittingType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurant.Name)
                        </td>
                        <td>
                            <a asp-area="Staff" asp-controller="StaffReservation" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                                Manage Reservations
                            </a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/sittingIndex.js"></script>
}

