@model IEnumerable<BeanSceneProject.Data.Sitting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Open Time
            </th>
            <th>
                Close Time
            </th>
            <th>
                Status
            </th>
            <th>
                Capacity
            </th>
            <th>
                People booked
            </th>
            <th>
                Sitting Type
            </th>
            <th>
                Restaurant
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close)
            </td>
            <td>
                @if (item.IsClosed) { Html.DisplayText("Closed"); }
                else { Html.DisplayText("Open"); }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heads)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SittingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurant.Name)
            </td>
            <td>
                <button asp-area="Staff" asp-controller="Reservation" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                    Manage Reservations
                </button>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
