@model BeanSceneProject.Areas.Staff.Models.StaffReservation.AddTables
@{ 
    ViewData["Title"] = "Add Tables";
}
<div class="row justify-content-center bg-white">
    <div class="col-12">
        <h2>Assign Tables</h2>
        <p>Sititng: @Model.SittingInfo</p>
        <p>Reservation: @Model.ReservationInfo</p>
        <p>Number of people: @Model.Heads</p>
        <p>Already selected tables: @Model.ChosenTables</p>
    </div>
</div>
<div class="row justify-content-center bg-white">
    <div class="col-12">
        <form asp-action="AddTables">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @foreach (var area in Model.Areas)
            {
                <div>@area.Name</div>
                <div class="form-group">
                    @foreach (var table in Model.Tables.Where(t => t.AreaId == area.Id))
                    {
                        if (Model.ChosenTablesId.Contains(table.Id))
                        {
                            <input type="checkbox" class="btn-check" id="@table.Name" name="SelectedTables" value="@table.Id" autocomplete="off" checked/>
                            <label class="btn btn-outline-primary btn-lg m-1 p-1" for="@table.Name" style="width:150px">@table.Name</label>
                        }
                        else if(Model.FreeTableIds.Contains(table.Id))
                        {
                            <input type="checkbox" class="btn-check" id="@table.Name" name="SelectedTables" value="@table.Id" autocomplete="off" />
                            <label class="btn btn-outline-primary btn-lg m-1 p-1" for="@table.Name" style="width:150px">@table.Name</label>
                        }
                    }
                </div>
            }
            <div hidden>
                <input asp-for="SittingId" hidden />
                <input asp-for="ReservationId" hidden/>
            </div>
            <div class="form-group justify-content-center p-1">
                <input type="submit" value="Done" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>