@model BeanSceneProject.Areas.Staff.Models.StaffReservation.Index

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<p>
    <a asp-action="Create" asp-route-id="@Model.SittingId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Reservation Time
            </th>
            <th>
                Finish time
            </th>
            <th>
                Status
            </th>
            <th>
                Heads
            </th>
            <th>
                Tables
            </th>
            <th>
                Booked by
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationStatus.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => (item.Person.FirstName + " " + item.Person.LastName))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>