@model IEnumerable<BeanSceneProject.Data.Sitting>
@{
    ViewData["Title"] = "Sitting List";
}

<div class="row justify-content-center">
    <div class="col-12">
        <h2 class="px-2">Sittings List</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 bg-white">
        <form asp-controller="StaffReservation" asp-action="SittingIndex" method="get">
            <label class="control-label" for="date">Date:</label>
            <input class="form-control" type="date" name="date" id="date" />
            <input type="submit" value="Filter" class="btn btn-primary btn-lg" />
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Open Time
                    </th>
                    <th>
                        Close Time
                    </th>
                    <th>
                        Capacity
                    </th>
                    <th>
                        People booked
                    </th>
                    <th>
                        Sitting Type
                    </th>
                    <th>
                        Restaurant
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                string date = item.Open.ToShortDateString();
                            }
                            @Html.DisplayFor(modelItem => date)
                        </td>
                        <td>
                            @{
                                string open = item.Open.ToShortTimeString();
                            }
                            @Html.DisplayFor(modelItem => open)
                        </td>
                        <td>
                            @{
                                string close = item.Close.ToShortTimeString();
                            }
                            @Html.DisplayFor(modelItem => close)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Capacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Heads)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SittingType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Restaurant.Name)
                        </td>
                        <td>
                            <a asp-area="Staff" asp-controller="StaffReservation" asp-action="Index" asp-route-id="@item.Id" class="btn btn-primary">
                                Manage Reservations
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/staffSittingIndex.js"></script>
}